body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34 !important;
  background-image: url(/public/img/background.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col-size {
  width: 100%;
  padding: 30px 20px 80px 0px;
  border: 2px solid #01d976;
  border-radius: 10%;
}

.card {
  position: relative;
  background-color: black !important;
  height: 170px;
  width: 350px;
  max-width: 100vh;
  padding: 30px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  box-shadow: 1px 1px 3px 5px rgba(228, 207, 207, 0.3);
}

.card > span {
  position: absolute;
  font-size: 25px;
  color: rgb(192, 46, 192);
  background-color: black !important;
  border-radius: 99px;
  bottom: 0px;
  left: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.swipe {
  position: absolute;
  z-index: -1;
}

.form-control:focus {
  outline: none !important;
  border:1px solid #01d976 !important;
  box-shadow: 0 0 10px #01d976 !important;
  color: #01d976;
}

.button-user:hover {
  box-shadow: 0 0 10px #01d976 !important;
}

.button-major:hover {
  box-shadow: 0 0 10px red !important;
}